<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scheduler.beck">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Alarm.NotificationChannels"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Attendance_Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterAssignmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebpageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".courseList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterClassActivity"
            android:label="Register Class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssignmentActivity"
            android:label="Assigment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendanceActivity"
            android:label="Attendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimetableActivity"
            android:label="Time Table"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:label="Sign In"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm.BootUpReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Alarm.AlarmAttendBroadcast" />
        <receiver android:name=".Alarm.AlarmStartBroadcast" />
        <receiver android:name=".Alarm.AlarmStartReceiver" />
        <receiver android:name=".Alarm.AlarmAttendReceiver" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>